/* @keyframes {

} */

@import url(https://fonts.googleapis.com/css?family=Sanchez:400italic,400);

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

.prop {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 3;
}

.nav {
    height: 10%;
    top: 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    position: fixed !important;
    z-index: 5 !important;
    /* font-family: 'Raleway', sans-serif !important; */
}

.wrapper {
    top: 10%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0 !important;
    width: 100%;
    background-attachment: fixed;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.05));
}

.wrapper img {
    width: 70%;
    background-attachment: fixed;
    clip-path: ellipse(520px 730px at 40% 40%);
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05); */
}

.tag {
    position: absolute;
    z-index: 2;
    top: 40%;
    right: 1%;
    font-size: 3.6em;
    color: red;
    padding: 10px;
}

.subtag {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 11%;
    font-size: 2.5em;
    color: blue;
    padding: 10px;
}

.content {
    background-color: white;
    height: 230%;
    top: 100%;
    width: 100%;
}

.content-wrapper {
    background-color: #fff;
    position: relative;
    top: 0;
    height: 100%;
    width: 75%;
    left: 12.5%;
}


.para {
    position: relative;
    height: 50%;
    width: 100%;
    justify-content: center;
}

.heading {
    font-size: 2em;
    line-height: 4em;
    overflow: hidden;
    text-align: center;
}

.heading span {
    position: relative;
    display: inline-block;
}

.heading span::before, .heading span::after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 50px; /* half of limiter*/
    margin: 0 5px;
}

.heading span::before {
    right: 100%;
}

.heading span::after {
    left: 100%;
}

/* .heading::after, .heading::before {
    position: ;
    top: 90%;
    overflow: hidden;
    width: 50%;
    height: 3px;
    content: '\a0';
    background-color: black;
}

.heading::before {
    margin-left: -50%;
    text-align: right;
} */

.text {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90%;
    font-size: 1.125em;
    line-height: 1.375em;
}

.block-quote {
    position: relative;
    text-align: center;
    font-family: 'Sanchez', serif;
    font-size: 1.4em;
    line-height: 1.5em;
    font-style: italic;
    z-index: 5
}

.block-quote:before {
    content: '\201C';
    position: absolute;
    top: 0.25em;
    left: 0.8em;
    color: #e7e6e4;
    font-size: 6em;
    z-index: -1;
}

.ending {
    background-color: #e5ebf2;
    color: #555;
    height: 90%;
    top: 330%;
}

.info {
    /* display : flex; */
    display: block;
    /* align-items : left; */
    /* justify-content: center; */
    position: absolute;
    /* background-color: red; */
    width: 32%;
    height: 70%;
    top: 15%;
    left: 8%;
    text-align: left;
    /* border-left: 1px solid #555; */
}

.info::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    height: 60%;
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width:  0 0 0 1px;
    border-color: rgb(150, 150, 150);
}

.info span {
    display: inline;
    vertical-align: middle;
    /* font-size: 2.25em; */
    font-size: 0.875em;
    line-height: 1.8em;
    /* text-align: center; */
    position: relative;
    left: 5%;
}

.info span a {
    color: #0e6ecb;
}

.map {
    display : flex;
    align-items : center;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 70%;
    top: 15%;
    right: 8%;
}

.map iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border-width: 0;
}